{{- $pc := site.Config.Privacy.Instagram -}}
{{- if not $pc.Disable -}}
  {{- with .Get 0 -}}
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/{{ . }}/" data-instgrm-version="14"></blockquote>
    {{- if not $pc.Simple -}}
      <script async src="https://www.instagram.com/embed.js"></script>
    {{- end -}}
  {{- else -}}
    {{- errorf "The %q shortcode requires a single positional parameter, the ID of the Instagram post. See %s" .Name .Position -}}
  {{- end -}}
{{- end -}}
